# Auto detect text files and perform LF normalization
* text=auto
*.png filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
*.psd filter=lfs diff=lfs merge=lfs
*.mp4 filter=lfs diff=lfs merge=lfs
*.fbx filter=lfs diff=lfs merge=lfs
Assets/**/*.fbx filter=lfs diff=lfs merge=lfs
*.zip filter=lfs diff=lfs merge=lfs
*.unity filter=lfs diff=lfs merge=lfs
*.unitypackage filter=lfs diff=lfs merge=lfs
*.ttf filter=lfs diff=lfs merge=lfs
*.otf filter=lfs diff=lfs merge=lfs
*.ttc filter=lfs diff=lfs merge=lfs
*.mp3 filter=lfs diff=lfs merge=lfs
*.wav filter=lfs diff=lfs merge=lfs 
*.ogg filter=lfs diff=lfs merge=lfs
*.webm filter=lfs diff=lfs merge=lfs
*.json filter=lfs diff=lfs merge=lfs
*.shader filter=lfs diff=lfs merge=lfs
*.mat filter=lfs diff=lfs merge=lfs
*.prefab filter=lfs diff=lfs merge=lfs
*.asset filter=lfs diff=lfs merge=lfs
*.anim filter=lfs diff=lfs merge=lfs
*.controller filter=lfs diff=lfs merge=lfs
*.playable filter=lfs diff=lfs merge=lfs
*.controller filter=lfs diff=lfs merge=lfs
*.config filter=lfs diff=lfs merge=lfs
*.dll filter=lfs diff=lfs merge=lfs
*.exe filter=lfs diff=lfs merge=lfs
*.apk filter=lfs diff=lfs merge=lfs
*.so filter=lfs diff=lfs merge=lfs
*.dylib filter=lfs diff=lfs merge=lfs
*.pdb filter=lfs diff=lfs merge=lfs
*.mdb filter=lfs diff=lfs merge=lfs
*.mdb.meta filter=lfs diff=lfs merge=lfs
*.sln filter=lfs diff=lfs merge=lfs
*.cs filter=lfs diff=lfs merge=lfs
*.cs.meta filter=lfs diff=lfs merge=lfs
*.meta filter=lfs diff=lfs merge=lfs
*.txt filter=lfs diff=lfs merge=lfs
*.md filter=lfs diff=lfs merge=lfs
*.xml filter=lfs diff=lfs merge=lfs
*.html filter=lfs diff=lfs merge=lfs
*.css filter=lfs diff=lfs merge=lfs
*.js filter=lfs diff=lfs merge=lfs
*.ts filter=lfs diff=lfs merge=lfs
*.jsonc filter=lfs diff=lfs merge=lfs
*.shadergraph filter=lfs diff=lfs merge=lfs
*.compute filter=lfs diff=lfs merge=lfs
*.compute.meta filter=lfs diff=lfs merge=lfs
*.shader.meta filter=lfs diff=lfs merge=lfs
*.shadergraph.meta filter=lfs diff=lfs merge=lfs
*.shaderlab filter=lfs diff=lfs merge=lfs
